body{
    background-color: #d9e4ff;
    color: black;
}

h2{
    text-align: center;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    color: black;
}

h3{
    font-size: x-large;
    font-family: 'Comic Sans MS';
    color: black;
}

p{
    line-height: 2;
}

img, video{
    border: solid 5px black;
    display: block;
    padding: 10px;
    margin: 0 auto;
    /*border-top-right-radius: 30px;*/
}

figure {
    text-align: center;
}

#main {
    text-align: center;
}
/*
li{
    border: solid 5px black;
    margin: 20px;
    padding: 10px;
}

nav{
    border: 2px solid black;
}

nav a{
    background-color: white;
}

a{
    text-align: underline;

}

#skip{
    text-transform: uppercase;
}

#skip{
    position: absolute;
    left: -500px;
}

#skip:focus{
    left: 200px;
}

.thumbnail {}
*/


nav a.active {
    font-size: large;
    font-weight: bold;
    background-color: antiquewhite;
}

nav li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes enlarge {
    from {transform: scale(1.0);}
    to {transform: scale(1.2);}
}

img:hover, video:hover {
    transform: scale(1.2);
    animation: enlarge 1s;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (prefers-reduced-motion: reduce) {
    nav a, nav a:hover {
        transition: none;
        transform: none;
    }

    .gif {
        display: none;
    }
}

@media screen and (min-width: 768px) {}
